{% extends 'hotelbook/index.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    
    <body>

        {% block content %}        

        <!-- Search Section Start -->
        <div id="search" style="background: #f2f2f2;">
            <div class="container">
                <div class="form-row">
                    <div class="control-group col-md-3">
                        <label>Check-In</label>
                        <div class="form-group">
                            <div class="input-group date" id="date-3" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" data-target="#date-3"/>
                                <div class="input-group-append" data-target="#date-3" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="control-group col-md-3">
                        <label>Check-Out</label>
                        <div class="form-group">
                            <div class="input-group date" id="date-4" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" data-target="#date-4"/>
                                <div class="input-group-append" data-target="#date-4" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="control-group col-md-3">
                        <div class="form-row">
                            <div class="control-group col-md-6">
                                <label>Adult</label>
                                <select class="custom-select">
                                    <option selected>0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                            </div>
                            <div class="control-group col-md-6 kid">
                                <label>Kid</label>
                                <select class="custom-select">
                                    <option selected>0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="control-group col-md-3">
                        <button class="btn btn-block">Search</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Search Section End -->
        
        <!-- Room Section Start -->
        <div id="rooms">
            <div class="container">
                <div class="section-header">
                    <h2>Our Rooms</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in mi libero. Quisque convallis, enim at venenatis tincidunt.
                    </p>
                </div>
                <div class="row">
                    {% for room in rooms %}
                    <div class="col-md-12">
                        <div class="row border p-3">                                                    
                                <div class="col-md-3">
                                    <div class="room-img">
                                        <div class="box12">                                            
                                            <img class="thumbnail" src="{{room.imageURL}}">                                            
                                            <div class="box-content">                                                
                                                <h3 class="title">{{room.name}}</h3>
                                                <ul class="icon">
                                                    <li><a href="#" data-toggle="modal" data-target="modal-id{{room.pk}}"><i class="fa fa-link"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="room-des">
                                        <h3><a href="#" data-toggle="modal" data-target="#modal-id{{room.pk}}">{{room.name}}</a></h3>
                                        <p>{{room.description}}</p>
                                        <ul class="room-size">
                                            <li><i class="fa fa-arrow-right text-danger"></i>Size: {{room.size}}</li>
                                            <li><i class="fa fa-arrow-right text-danger"></i>Beds: {{room.bedroom}} </li>
                                            <li><i class="fa fa-arrow-right text-danger"></i>Balcony: {{room.balcony}} </li>
                                            <li><i class="fa fa-arrow-right text-danger"></i>Floor No: {{room.floor}} </li>
                                        </ul>
                                        <ul class="room-icon">
                                            <li class="icon-1"></li>
                                            <li class="icon-2"></li>
                                            <li class="icon-3"></li>
                                            <li class="icon-4"></li>
                                            <li class="icon-5"></li>
                                            <li class="icon-6"></li>
                                            <li class="icon-7"></li>
                                            <li class="icon-8"></li>
                                            <li class="icon-9"></li>
                                            <li class="icon-10"></li>
                                        </ul> 
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="room-rate">
                                        <h3>Per Night</h3>
                                        <h1>৳ {{room.price}}</h1>
                                        <a href="#">Book Now</a>
                                    </div>
                                </div>
                            
                        </div>
                        <br>
                    </div>   



                    {% comment %} Modal {% endcomment %}
                    <div id="modal-id{{room.pk}}" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="port-slider">
                                                {% for p in photos %}
                                                <div><img src="{{p.images.url}}"></div>
                                                {% endfor %}                                               
                                            </div>
                                            <div class="port-slider-nav">
                                                {% for p in photos %}
                                                <div><img src="{{p.images.url}}"></div>
                                                {% endfor %}  
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <h2>{{room.name}}</h2>
                                            <p>
                                                {{room.description}}
                                            </p>
                                            <div class="modal-link">
                                                <a href="#">Book Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}                  
                </div>
            </div>
        </div>
        <!-- Room Section End -->
        
        <!-- Modal for Room Section Start -->
        
        <!-- Modal for Room Section End -->
        
        <!-- Footer Section Start -->
        <div id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="social">
                            <a href=""><li class="fa fa-instagram"></li></a>
                            <a href=""><li class="fa fa-twitter"></li></a>
                            <a href=""><li class="fa fa-facebook-f"></li></a>
                        </div>
                    </div>
                    <div class="col-12">
                        <p>Copyright &#169; 2045 <a href="">Your Site Name</a> All Rights Reserved.</p>
						
						<!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
						<p>Designed By <a href="https://htmlcodex.com">HTML Codex</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Section End -->
        
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

        {% endblock content %}
    </body>
</html>
